<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Your online diary</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">

</head>
  <body>
    <p>Duid alle activiteiten die je vandaag hebt gedaan aan !</p>

    <a href="Page2.html"><button class="button back"> terug </button></a>

    <button class="button sportbut">Sport</button>
    <button class="button foodbut">Food</button>
    <button class="button gamingbut">Gaming</button>
    <button class="button werkbut">Werk</button>

    <img class="img werkpic" src="pictures/Werk.png">
    <img class="img etenpic" src="pictures/Eten.png">
    <img class="img sportpic" src="pictures/Sport.png">
    <img class="img gamingpic" src="pictures/Gaming.png">

    <a href="templates/Page4.html"><button class="button save">Save</button></a>
    <a href="templates/Page2.html"><button class="button cancel">Cancel</button></a>

  </body>
</html>